<a class="logo" href="home.html">
    <picture class="lazy-loader">
        <img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==" data-src="./assets/images/system/logo.svg" alt=""/>
    </picture>
</a>