<div class="menu" data-dropdown="menu">
    {% include "components/general/menu/menu-close.njk" %}
    {% set items = [
        {
            title: "Components",
            href: "components.html"
        }, {
            title: "Blocks",
            href: "blocks.html"
        }, {
            title: "Docs",
            href: "docs.html"
        }, {
            title: "Simple Page",
            href: "simple.html"
        }, {
            title: "Error 404",
            href: "error-404.html"
        }
    ] %}
    {% include "components/general/navigation-mobile/navigation-mobile.njk" %}
</div>