@use "core/breakpoints" as bp;
@use "core/mixins" as mix;

.menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    padding: 60px var(--container-padding);
    overflow-y: auto;
    background: var(--color-white);
    transform: translateY(-100%);
    transition: transform 0.3s;

    &.is-open {
        transform: translateY(0);
    }
}

.menu-open {
    display: flex;
    width: 32px;
    height: 32px;
    padding: 0;
    margin: 0;
    outline: none;
    background: unset;
    border: none;
}

.menu-close {
    position: absolute;
    top: 6px;
    right: 6px;
    z-index: 1;
    display: flex;
    width: 32px;
    height: 32px;
    padding: 0;
    margin: 0;
    outline: none;
    background: none;
    border: none;
}
