<nav class="navigation-mobile">
    <ul>
        {% for item in items %}
            <li class="{{ item.class | default('') }}">
                <a href="{{ item.href }}">
                    {{ item.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>