@use "core/breakpoints" as bp;
@use "core/mixins" as mix;

.navigation-mobile {
    > ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;

        > li {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            > a {
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 600;
                line-height: 1;
                color: var(--color-black);
                white-space: nowrap;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
