@use "core/breakpoints" as bp;
@use "core/mixins" as mix;

.textarea {
    // Component variables
    --textarea-border-radius: 6px;
    --textarea-font-size-sm: 0.75rem;
    --textarea-font-size-md: 0.875rem;
    --textarea-font-size-lg: 0.875rem;
    --textarea-padding-sm: 0.625rem;
    --textarea-padding-md: 0.75rem;
    --textarea-padding-lg: 1rem;

    // Base styles
    display: block;
    width: 100%;
    font-family: var(--font-family-primary);
    font-size: var(--textarea-font-size-md);
    line-height: 1.5;
    color: var(--color-black);
    resize: vertical;
    outline: none;
    background-color: var(--color-white);
    border: 1px solid var(--border-color);
    border-radius: var(--textarea-border-radius);
    transition: all 0.2s ease-in-out;

    &::placeholder {
        opacity: 1;
    }

    // Focus state
    &:focus,
    &:focus-within:not(:read-only) {
        border-color: var(--border-color-active);
    }

    // Disabled state
    &:disabled {
        cursor: not-allowed;
        background-color: var(--block-bg-color);
        opacity: 0.6;
    }

    // Readonly state
    &:read-only {
        cursor: default;
        background-color: var(--block-bg-color);
    }

    // Error state
    &.error {
        border-color: var(--color-red);

        &:focus {
            border-color: var(--color-red);
        }

        &:hover {
            border-color: var(--color-red) !important;
        }
    }

    // --------------------------------------
    // Sizes
    // --------------------------------------

    &.sm {
        padding: var(--textarea-padding-sm);
        font-size: var(--textarea-font-size-sm);
    }

    &.md {
        padding: var(--textarea-padding-md);
        font-size: var(--textarea-font-size-md);
    }

    &.lg {
        padding: var(--textarea-padding-lg);
        font-size: var(--textarea-font-size-lg);
    }
}
