@use "sass:map";

$breakpoints: (
    mobile: 319.98px,
    mobile-s: 359.98px,
    mobile-m: 374.98px,
    mobile-l: 479.98px,
    mobile-xl: 579.98px,
    tablet: 767.98px,
    tablet-m: 833.98px,
    tablet-l: 1023.98px,
    tablet-xl: 1279.98px,
    laptop: 1365.98px,
    laptop-m: 1439.98px,
    laptop-l: 1639.98px,
    desktop: 1919.98px,
    desktop-4k: 2559.98px
) !default;

@mixin mq($breakpoint) {
    @if map.has-key($breakpoints, $breakpoint) {
        @media (max-width: map.get($breakpoints, $breakpoint)) {
            @content;
        }
    } @else {
        @warn "Breakpoint '#{$breakpoint}' не найден в $breakpoints.";
    }
}
