@use "core/breakpoints" as bp;
@use "core/mixins" as mix;

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    height: auto;
    min-height: 100vh;
}

body {
    height: auto;
    min-height: 100vh;
    margin: 0;
    font-family: var(--font-family-primary);
    line-height: 1.4;
    color: var(--color-black);
    background: var(--color-white);
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    *::-webkit-scrollbar {
        width: 0.25rem;
        height: 0.25rem;
        background: transparent;
        border-radius: 0.25rem;
    }

    *::-webkit-scrollbar-thumb {
        background: var(--color-black);
        border-radius: 0.25rem;
    }

    &.is-fixed {
        overflow: hidden;
    }
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
}

a {
    color: var(--color-black);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: var(--heading-margin);
    line-height: var(--heading-line-height);
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.25em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1em;
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: calc(var(--container-width) + var(--container-padding) * 2);
    padding: 0 var(--container-padding);
    margin: 0 auto;
}

.main {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.layout {
    > .container > .grid {
        display: grid;
        grid-template-columns: 2fr 10fr;
        gap: 2rem;

        @include bp.mq(tablet) {
            display: block;
        }

        .container {
            padding: 0;
        }
    }
}

.lazy-loader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 0;
        box-sizing: border-box;
        display: inline-block;
        visibility: visible;
        width: 1rem;
        height: 1rem;
        pointer-events: none;
        content: "";
        border: 0.175rem solid var(--color-black);
        border-bottom-color: transparent;
        border-radius: 50%;
        opacity: 1;
        transform: translate(-50%, -50%);
        animation: rotation 1s linear infinite;
    }

    &:has(img[data-loaded="true"])::before,
    &:has(video[data-loaded="true"])::before,
    &:has(iframe[data-loaded="true"])::before {
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s 0.3s;
    }

    img,
    video,
    iframe {
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s 0.5s;
    }

    img[data-loaded="true"],
    video[data-loaded="true"],
    iframe[data-loaded="true"] {
        visibility: visible;
        opacity: 1;
    }
}
