@use "core/breakpoints" as bp;
@use "core/mixins" as mix;

:root {
    // --------------------------------------
    // -- Base Сolors
    // --------------------------------------
    --color-white: #fff;
    --color-black: #000;
    --color-gray: #8f8f8f;
    --color-gray-dark: #525252;
    --color-gray-light: #d9dadb;
    --color-red: #f04f36;
    --color-green: #3fa802;

    // --------------------------------------
    // -- Brand Сolors
    // --------------------------------------
    --color-primary: #005694;
    --color-primary-dark: #004577;
    --color-secondary: #9d068a;
    --color-secondary-dark: #840b73;

    // --------------------------------------
    // -- UI
    // --------------------------------------
    --border-color: #d9dadb;
    --border-color-active: #b6b6b6;
    --block-bg-color: #f9f9f9;

    // --------------------------------------
    // -- Fonts
    // --------------------------------------
    --font-family-primary: "Inter", sans-serif;

    // --------------------------------------
    // -- Sizes
    // --------------------------------------
    --header-height: 90px;
    --container-width: 1440px;
    --container-padding: 1rem;
    --heading-margin: 1rem 0;
    --heading-line-height: 1.1;

    @include bp.mq(tablet) {
        --header-height: 70px;
    }
}
