@use "core/breakpoints" as bp;
@use "core/mixins" as mix;

:root {
    //--------------------------------------
    //-- Base Сolors
    //--------------------------------------
    --color-white: #fff;
    --color-black: #000;
    --color-red: #f04f36;
    --color-green: #3fa802;

    //--------------------------------------
    //-- Brand Сolors
    //--------------------------------------
    --color-primary: #005694;

    //--------------------------------------
    //-- UI
    //--------------------------------------
    --border-color: rgba(99, 99, 99, 0.255);

    --button-border-radius: 6px;

    //--------------------------------------
    //-- Fonts
    //--------------------------------------
    --font-family-primary: "Inter", sans-serif;

    //--------------------------------------
    //-- Sizes
    //--------------------------------------
    --header-height: 90px;

    --container-width: 1440px;
    --container-padding: 1rem;

    --heading-margin: 1rem 0;
    --heading-line-height: 1.1;

    @include bp.mq(tablet) {
        --header-height: 80px;
    }
}
