@use "core/breakpoints" as bp;
@use "core/mixins" as mix;

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1rem;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1;
    color: var(--color-white);
    white-space: nowrap;
    outline: none;
    background: var(--color-black);
    border: none;
    border-radius: var(--button-border-radius);
    transition: opacity 0.25s;

    &:hover {
        text-decoration: none;
        opacity: 0.8;
    }
}
