<nav class="breadcrumbs">
    <div class="container">
        <ul itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList">
            {% for crumb in breadcrumbs %}
                <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem">
                    {% if crumb.href %}
                        {% if not loop.first %}&nbsp;&nbsp;•&nbsp;&nbsp;{% endif %}
                        <a href="{{ crumb.href }}" title="{{ crumb.title }}" itemprop="item">
                            <span itemprop="name">{{ crumb.title }}</span>
                        </a>
                        <meta itemprop="position" content="{{ loop.index }}"/>
                    {% else %}
                        &nbsp;&nbsp;•&nbsp;&nbsp;
                        <span>{{ crumb.title }}</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>