{% set meta = {
    title: "Components"
} %}
{% set breadcrumbs = [
    {
        title: "Home",
        href: "../home.html"
    }, {
        title: "Components",
        href: "../components.html"
    }, {
        title: "Textarea"
    }
] %}
{% set title = {
    text: 'Textarea',
    tag: 'h1',
    class: 'title'
} %}
{% extends "layouts/grid.njk" %}
{% block content %}
    content
{% endblock %}