<section class="section">
    <div class="container">
        <div class="text">
            <p>
                <a href="#">Lorem ipsum</a>
                dolor sit amet consectetur adipisicing elit. Nam impedit suscipit excepturi quas rerum eius. Repellendus saepe fuga dolorem quam recusandae, incidunt quia quibusdam aliquid dolorum, consequuntur reiciendis eligendi corrupti.
                <strong>Eum inventore</strong>
                iste quia reiciendis consequuntur quisquam mollitia, sequi accusantium dolorum illum debitis voluptatem obcaecati cupiditate vel molestias commodi. Porro harum omnis voluptates amet a earum obcaecati illo iure quod!
            </p>
            <ul>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit.</li>
                <li>Lorem, ipsum dolor.</li>
            </ul>
            <p>
                <b>Lorem ipsum</b>
                dolor sit amet consectetur, adipisicing elit. Accusantium at recusandae non voluptatum, inventore enim tenetur laudantium pariatur ex dicta odio accusamus saepe delectus, omnis labore facilis commodi, mollitia dolore.
            </p>
            <ol>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit.</li>
                <li>Lorem, ipsum dolor.</li>
            </ol>
            <h1>Title H1</h1>
            <h2>Title H2</h2>
            <h3>Title H3</h3>
            <h4>Title H4</h4>
            <h5>Title H5</h5>
            <h6>Title H5</h6>
        </div>
    </div>
</section>