{% set meta = {
    title: "Blocks"
} %}
{% set breadcrumbs = {
    items: [
        { title: "Home", url: "../home.html" },
        { title: "Blocks" }
    ]
} %}
{% set title = {
    text: "Blocks",
    tag: "h1",
    class: "title"
} %}
{% extends "layouts/default.njk" %}
{% block content %}
    <section class="section">
        <div class="container">
            content
        </div>
    </section>
{% endblock %}
