{% set meta = {
    title: "Docs"
} %}
{% set breadcrumbs = [
    {
        title: "Home",
        href: "home.html"
    }, {
        title: "Docs"
    }
] %}
{% set title = {
    text: 'Docs',
    tag: 'h1',
    class: 'title'
} %}
{% extends "layouts/grid.njk" %}
{% block content %}
    content
{% endblock %}