{% set meta = {
    title: "Error 404",
    is_404: true
} %}
{% set breadcrumbs = {
    items: [
        { title: "Home", url: "../home.html" },
        { title: "Page not found" }
    ]
} %}
{% extends "layouts/default.njk" %}
{% block content %}
    {% include "blocks/general/error-404/error-404.njk" %}
{% endblock %}