{% set meta = {
    title: "Simple pgae"
} %}
{% set breadcrumbs = {
    items: [
        { title: "Home", url: "../home.html" },
        { title: "Simple pgae" }
    ]
} %}
{% set title = {
    text: "Simple pgae",
    tag: "h1",
    class: "title"
} %}
{% extends "layouts/default.njk" %}
{% block content %}
    {% include "blocks/general/section/section.njk" %}
{% endblock %}