<footer class="footer">
    <div class="container">
        <div class="row">
            {% include "components/common/copyright/copyright.njk" %}
            {% include "components/common/dev/dev.njk" %}
        </div>
    </div>
</footer>