@use "core/breakpoints" as bp;
@use "core/mixins" as mix;

.footer {
    padding: 1.5rem 0;
    border-top: 1px solid var(--border-color);

    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.75rem;

        @include bp.mq(tablet) {
            flex-direction: column;
        }
    }
}
