// --------------------------------------
// -- Libs
// --------------------------------------
@use "../../node_modules/swiper/swiper.css" as swiper;
@use "../../node_modules/swiper/modules/navigation.css" as swiperNavigation;
@use "../../node_modules/swiper/modules/pagination.css" as swiperPagination;
@use "../../node_modules/swiper/modules/grid.css" as swiperGrid;
@use "../../node_modules/@fancyapps/ui/dist/fancybox/fancybox.css" as fancybox;
@use "../../node_modules/nice-select2/dist/css/nice-select2.css" as niceSelect2;

// --------------------------------------
// -- Core
// --------------------------------------
@use "./core/variables";
@use "./core/fonts";
@use "./core/animations";
@use "./core/mixins";
@use "./core/globals";

// --------------------------------------
// -- Components
// --------------------------------------
@use "../components/general/title/title";
@use "../components/general/text/text";
@use "../components/general/heading/heading";
@use "../components/general/button/button";
@use "../components/general/code/code";
@use "../components/general/textarea/textarea";
@use "../components/general/menu/menu";
@use "../components/general/navigation-top/navigation-top";
@use "../components/general/navigation-mobile/navigation-mobile";
@use "../components/general/breadcrumbs/breadcrumbs";

@use "../components/common/logo/logo";
@use "../components/common/copyright/copyright";
@use "../components/common/dev/dev";
@use "../components/common/stack/stack";

// --------------------------------------
// -- Blocks
// --------------------------------------
@use "../blocks/general/header/header";
@use "../blocks/general/footer/footer";
@use "../blocks/general/sidebar/sidebar";
@use "../blocks/general/section/section";
@use "../blocks/general/error-404/error-404";

@use "../blocks/common/hero/hero";
@use "../blocks/common/example/example";
