{% from "components/general/breadcrumbs/breadcrumbs.njk" import render as breadcrumbsComponent %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% block meta %}
            {% include "blocks/general/meta/meta.njk" %}
        {% endblock %}

        {% block styles %}
            <link rel="stylesheet" href="../css/bundle.css" />
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <div class="site">
            {% block header %}
                {% include "blocks/general/header/header.njk" %}
            {% endblock %}

            <main class="main {% block main_class %}{% endblock %}">
                {% block breadcrumbs %}
                    {% if not meta.is_home %}
                        {% if not meta.is_404 %}
                            {{ breadcrumbsComponent(items=breadcrumbs.items) }}
                        {% endif %}
                    {% endif %}
                {% endblock %}

                {% block page_heading %}
                    {% if not meta.is_home %}
                        {% if title %}
                            {% include "components/general/heading/heading.njk" %}
                        {% endif %}
                    {% endif %}
                {% endblock %}

                {% block content %}{% endblock %}
            </main>

            {% block menu %}
                {% include "components/general/menu/menu.njk" %}
            {% endblock %}

            {% block footer %}
                {% include "blocks/general/footer/footer.njk" %}
            {% endblock %}
        </div>

        {% block scripts %}
            <script src="../js/bundle.js"></script>
        {% endblock %}
    </body>
</html>
