<header class="header">
    <div class="container">
        <div class="row">
            <div class="header-logo">
                {% include "components/common/logo/logo.njk" %}
            </div>
            <div class="header-navigation">
                {% set items = [
                    {
                        title: "Components",
                        href: "components.html"
                    }, {
                        title: "Blocks",
                        href: "blocks.html"
                    }, {
                        title: "Docs",
                        href: "docs.html"
                    }, {
                        title: "Simple Page",
                        href: "simple.html"
                    }, {
                        title: "Error 404",
                        href: "error-404.html"
                    }
                ] %}
                {% include "components/general/navigation-top/navigation-top.njk" %}
            </div>
            <div class="header-mobile-menu">
                {% include "components/general/menu/menu-open.njk" %}
            </div>
        </div>
    </div>
</header>