@use "core/breakpoints" as bp;
@use "core/mixins" as mix;

.header {
    position: sticky;
    top: 0;
    z-index: 100;
    height: var(--header-height);
    background: rgb(255 255 255 / 90%);
    border-bottom: 1px solid var(--border-color);
    backdrop-filter: blur(4px);

    .container {
        display: flex;
        height: 100%;
    }

    .row {
        display: flex;
        gap: 0 3rem;
        width: 100%;

        @include bp.mq(tablet) {
            justify-content: space-between;
        }

        .header-logo {
            display: flex;
            align-self: center;
        }

        .header-navigation {
            display: flex;
            align-self: center;

            @include bp.mq(tablet) {
                display: none;
            }
        }

        .header-mobile-menu {
            display: none;

            @include bp.mq(tablet) {
                display: flex;
                align-items: center;
            }
        }
    }
}
