@use "core/breakpoints" as bp;
@use "core/mixins" as mix;

.navigation-top {
    ul {
        display: flex;
        gap: 2rem;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 600;
                line-height: 1;
                color: var(--color-black);
                white-space: nowrap;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
