@use "core/breakpoints" as bp;
@use "core/mixins" as mix;

.hero {
    padding: 5rem 0;

    .block {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;

        .text {
            margin-bottom: 0.5rem;
        }

        .button {
            margin-bottom: 1rem;
        }
    }
}
